<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="extentReporterPack.ExtentReportListner" />
	</listeners>

  <test thread-count="1" name="Test">
     <parameter name="Browser" value="Chrome"/>
     
    <classes>  

<class name="testScenario.SnipBackLogin.SnipBackLogin_Test">
		   <methods>
               <include name="TC01_LoginTest()"/>
		 	   <include name="TC02_LoginTest()"/>
			   <include name="TC03_LoginTest()"/>
               <include name="TC04_LoginTest()"/> 
			   <include name="TC05_LoginTest()"/>			  
			   <include name="TC06_LoginTest()"/>
		       <include name="TC08_LoginTest()"/> 
				
		   </methods> 
       </class>

     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->