<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="extentReporterPack.ExtentReportListner" />
	</listeners>
  <test thread-count="1" name="Test">
     <parameter name="Browser" value="Chrome"/>
    <classes>  
<class name="testScenario.ForgotPassword.ForgotPassword_Test">
		   <methods>
               <include name="FP01_ForgotPasswordTest()"/>
               <include name="FP02_ForgotPasswordTest()"/>
               <include name="FP03_ForgotPasswordTest()"/>
               <include name="FP04_ForgotPasswordTest()"/>				
      </methods> 
       </class>
<class name="testScenario.ScheduleUnscheduleGames.ScheduleUnscheduleGames_Test">
		   <methods>
               <include name="SG_01_ScheduleUnscheduleGamesTest()"/> 
               <include name="SG_02_ScheduleUnscheduleGamesTest()"/>
               <include name="SG_03_ScheduleUnscheduleGamesTest()"/>
               <include name="SG_04_ScheduleUnscheduleGamesTest()"/> 
               <include name="SG_05_ScheduleUnscheduleGamesTest()"/> 
               <include name="SG_06_ScheduleUnscheduleGamesTest()"/>      
		   </methods> 
       </class>     
<class name="testScenario.CreateAndAddNewMemberWithOrWithoutEmail.CreateAndAddNewMemberWithOrWithoutEmail_Test">
		  <methods>
              <include name="WE_01_CreateAndAddNewMemberWithOrWithoutEmailTest()"/>
              <include name="WE_02_CreateAndAddNewMemberWithOrWithoutEmailTest()"/>
              <include name="WE_03_CreateAndAddNewMemberWithOrWithoutEmailTest()"/>
              <include name="WE_04_CreateAndAddNewMemberWithOrWithoutEmailTest()"/>
              <include name="WE_05_CreateAndAddNewMemberWithOrWithoutEmailTest()"/>
              <include name="WE_06_CreateAndAddNewMemberWithOrWithoutEmailTest()"/>
              <include name="WE_07_CreateAndAddNewMemberWithOrWithoutEmailTest()"/>
              <include name="WE_08_CreateAndAddNewMemberWithOrWithoutEmailTest()"/>
              <include name="WE_09_CreateAndAddNewMemberWithOrWithoutEmailTest()"/>
              <include name="WE_10_CreateAndAddNewMemberWithOrWithoutEmailTest()"/>
              <include name="WE_11_CreateAndAddNewMemberWithOrWithoutEmailTest()"/>
       </methods>
       </class>
<class name="testScenario.AddUpdateDeleteDuplicateTeamGameDefaults.AddUpdateDeleteDuplicateTeamGameDefaults_Test">
		   <methods>
		     <include name="Team_01_AddUpdateDeleteDuplicateTeamGameDefaultsTest()"/>
		     <include name="Team_02_AddUpdateDeleteDuplicateTeamGameDefaultsTest()"/>
		     <include name="Team_03_AddUpdateDeleteDuplicateTeamGameDefaultsTest()"/>
		     <include name="Team_04_AddUpdateDeleteDuplicateTeamGameDefaultsTest()"/>
		     <include name="Team_05_AddUpdateDeleteDuplicateTeamGameDefaultsTest()"/>
       </methods>
       </class>
<class name="testScenario.PublicGameListing.PublicGameListing_Test">
		   <methods>
               <include name="GameListing_01_PublicGameListingTest()"/>
               <include name="GameListing_02_PublicGameListingTest()"/>
               <include name="GameListing_03_PublicGameListingTest()"/>
               <include name="GameListing_04_PublicGameListingTest()"/>
               <include name="GameListing_05_PublicGameListingTest()"/>
               <include name="GameListing_06_PublicGameListingTest()"/>
               <include name="GameListing_07_PublicGameListingTest()"/>
               <include name="GameListing_08_PublicGameListingTest()"/>
               <include name="GameListing_09_PublicGameListingTest()"/>
               <include name="GameListing_10_PublicGameListingTest()"/>
               <include name="GameListing_11_PublicGameListingTest()"/>
		   </methods>
      </class>          
      <class
				name="testScenario.SearchGamesTeamAndMembers.SearchGamesTeamAndMembers_Test">
				<methods>
					<include name="SH_01_SearchGamesTeamAndMembersTest()" />
					<include name="SH_02_SearchGamesTeamAndMembersTest()"></include>
					<include name="SH_03_SearchGamesTeamAndMembersTest()" />
					<include name="SH_04_SearchGamesTeamAndMembersTest()" />
					<include name="SH_05_SearchGamesTeamAndMembersTest()" />
					<include name="SH_06_SearchGamesTeamAndMembersTest()" />
					<include name="SH_07_SearchGamesTeamAndMembersTest()" />
					<include name="SH_08_SearchGamesTeamAndMembersTest()" />
					<include name="SH_09_SearchGamesTeamAndMembers()" />
					<include name="SH_10_SearchGamesTeamAndMembers()" />
					<include name="SH_11_SearchGamesTeamAndMembers()" />
				</methods>
			</class>
				<class
				name="testScenario.CreateEditDeletePool.CreateEditDeletePool_Test">
				<methods>
					<include name="TC_01_CreateEditDeletePoolTest()" />
					<include name="TC_02_CreateEditDeletePoolTest()"></include>
					<include name="TC_03_CreateEditDeletePoolTest()" />
					<include name="TC_04_CreateEditDeletePoolTest()" />
					<include name="TC_05_CreateEditDeletePoolTest()" />
					<include name="TC_06_CreateEditDeletePoolTest()" />
					<include name="TC_07_CreateEditDeletePoolTest()" />
					<include name="TC_08_CreateEditDeletePoolTest()" />
					<include name="TC_09_CreateEditDeletePoolTest()" />
					<include name="TC_10_CreateEditDeletePoolTest()" />
					<include name="TC_11_CreateEditDeletePoolTest()" />

				</methods>
			</class>
			<class
				name="testScenario.SocialMediaSignIn.SocialMediaSignIn_Test">
				<methods>
					<include name="TC_01SocialMediaSignIn_Test()" />
					<include name="TC_02SocialMediaSignIn_Test()"></include>
				</methods>
			</class>
			<class
				name="testScenario.SnipBackRegistration.SnipBackRegistration_Test">
				<methods>
					<include name="TC01_RegistrationTest()" />
					<include name="TC02_RegistrationTest()"></include>
					<include name="TC03_RegistrationTest()" />
					<include name="TC04_RegistrationTest()" />
					<include name="TC05_Registration()" />
					<exclude name="TC06_RegistrationTest()" />
					<include name="TC07_RegistrationTest()" />
				</methods>
			</class>
			<class name="testScenario.SnipBackLogin.SnipBackLogin_Test">
				<methods>
					<include name="TC01_SH_LoginTest()" />
					<include name="TC02_SH_LoginTest()"></include>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->